:root {
    --main-color: linear-gradient(245.59deg, #4d9559 0%,#38703d 28.53%, #133917 75.52%);
    --second-color: #4d9559;
    --third-color: #5ca568;
    --white-color: #ffffff; 
    --forth-color: #2da7a0;
  }

  .hero-div{
      display: block;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      border-radius: 10px;
      background-color: transparent;
      backdrop-filter: blur(1px);
      width: 30%;
  }
  .contenu{
      display: block;
      justify-content: center;
      align-items: center;
      padding: 10px 10px;
  }
  .contenu #profil{
    /* clip-path: ellipse(100% 100%); */
    border-radius: 6%;
    width: 150px;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--white-color);
    margin: 5px 25%;
  }
  .contenu h2{
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: none;
      color: var(--forth-color);
      letter-spacing: normal;
      margin: 20px 30%;
      width: 150px;
  }
.icones i{
    margin: 0 7px;
}
.show_btn{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    bottom: 14%;
    right: 8%;
    padding: 10px 10px;
    /* background-color: transparent; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    backdrop-filter: blur(15px);
}
.bon{
    font-weight: 600;
    color: var(--white-color);
}
.bon a{
    font-weight: 600;
    font-family: 25px;}
.bon i{
    font-weight: 600;
    font-family: 25px;
    color: var(--white-color);
}
.contenu-btn{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; 
  }
.buttons{
    display: block;
    color: var(--white-color);
    background: var(--second-color);
    border: 1px solid transparent;
    margin: 10px 0;
    padding: 12px 25px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    transition: all .55 linear;
    width: 290px;
}
.buttons:hover{
    background: transparent;
    border: 1px solid var(--white-color);
    transform: translateX(4px);
    transition: all .55s ease-in-out;
}
input[type="date"]{
    color: var(--white-color);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
